.box-input{
    display: flex;
    gap: 6px;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}

.input{
    flex: 1;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #cccccc;
}